@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

* {
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
}

body {
    background-image: url("bg1.webp");
    background-size: auto;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #091823;
    justify-content: space-between;
    overflow: auto;
    font-family: Graduate;
}

ul li {
position: relative;
margin: 0 20px;
list-style: none;
display: inline-block;
padding: 14px;
font-size: 20px;
}

ul li a{
text-decoration: none; 
cursor: pointer;
color: rgb(255, 255, 255);
}

ul li a:hover {
    background-color: rgb(254, 209, 65);
    /* background-color: rgb(129, 123, 123); */
}

#logo {
    top: auto;
}

h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Graduate';
    top: 2px;
}

.main {
    margin-left: 5px;
    color: white;
    /* padding: 2px; */
}

.main searchPForm {
    padding: 5px;
}

.playerRes {
    float: left;
    padding: 0 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 1); /* this adds the "card" effect */
}

.firstName {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 25pt;
    position: relative;
    margin-left: 15px;
    top: -100px;
    text-transform: uppercase;
}

.lastName {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 35pt;
    position: relative;
    margin-left: 15px;
    bottom: 110px;
    text-transform: uppercase;
}

.stats {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 16pt;
    position: relative;
    margin-left: 15px;
    top: -350px;
}

.team {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #0038A8;
    font-size: 40pt;
    font-weight: bold;
    position: relative;
    /* margin-left: 2px; */
    bottom: 95px;
    text-transform: uppercase;
    text-align: center;
}

.teamRes {
    float: left;
    padding: 0 5px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 1); /* this adds the "card" effect */
}

.teamFN {
    font-family: Arial, Helvetica, sans-serif;
    color: #CE1126;
    font-size: 18pt;
    position: relative;
    margin-left: 15px;
    top: -315px;
}

.teamInfo {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 14pt;
    position: relative;
    margin-left: 15px;
    top: -315px;
}

.abrv {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #CE1126;
    font-size: 30pt;
    position: relative;
    top: -390px;
    left: 270px;
}


.footer {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #091823;
    color: white;
    text-align: center;
}
