@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

* {
    margin: 0;
    padding: 2px;
    box-sizing: border-box;
}


body {
    background-image: url("bg.jpg");
    /* background-position-y: 110px; */
    background-repeat: no-repeat;
    background-size: cover;
    /* min-height: 100vh; */
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #091823;
    justify-content: space-between;
    overflow: auto;
    font-family: Graduate;
}

ul li {
position: relative;
margin: 0 20px;
list-style: none;
display: inline-block;
padding: 14px;
font-size: 17px;
}

ul li a{
text-decoration: none; 
cursor: pointer;
color: rgb(255, 255, 255);
}

ul li a:hover {
    background-color: rgb(129, 123, 123);
}

h1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Graduate';
    top: 2px;
}

.main {
    margin-left: 5px;
    color: white;
    padding: 14px;
}

.main searchPForm {
    padding: 14px;
}

#logo {
    position: relative;
    margin-left: 15px;
    
}

.playerRes {
    float: left;
    padding: 0 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
}

.firstName {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25pt;
    position: relative;
    margin-left: 15px;
    top: -100px;
    text-transform: uppercase;
}

.lastName {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 35pt;
    position: relative;
    margin-left: 15px;
    bottom: 110px;
    text-transform: uppercase;
}

.pposition {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2rem;
    position: relative;
    right: -360px;
    top: -265px;
    text-transform: uppercase;

}

.footer {
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #091823;
    color: white;
    text-align: center;
}
